
.or-icon-ice-cream-round:before{
  content:""
}
.or-icon-ice-cream-square:before{
  content:""
}
.or-icon-lollipop:before{
  content:""
}
.or-icon-potato-strips:before{
  content:""
}
.or-icon-milk-tea:before{
  content:""
}
.or-icon-ice-drink:before{
  content:""
}
.or-icon-ice-tea:before{
  content:""
}
.or-icon-coffee:before{
  content:""
}
.or-icon-orange:before{
  content:""
}
.or-icon-pear:before{
  content:""
}
.or-icon-apple:before{
  content:""
}
.or-icon-cherry:before{
  content:""
}
.or-icon-watermoron:before{
  content:""
}
.or-icon-grape:before{
  content:""
}
.or-icon-refrigerator:before{
  content:""
}
.or-icon-goblet-square-full:before{
  content:""
}
.or-icon-goblet-square:before{
  content:""
}
.or-icon-goblet-full:before{
  content:""
}
.or-icon-goblet:before{
  content:""
}
.or-icon-cold-drink:before{
  content:""
}
.or-icon-coffee-cup:before{
  content:""
}
.or-icon-water-cup:before{
  content:""
}
.or-icon-hot-water:before{
  content:""
}
.or-icon-ice-cream:before{
  content:""
}
.or-icon-dessert:before{
  content:""
}
.or-icon-sugar:before{
  content:""
}
.or-icon-tableware:before{
  content:""
}
.or-icon-burger:before{
  content:""
}
.or-icon-knife-fork:before{
  content:""
}
.or-icon-fork-spoon:before{
  content:""
}
.or-icon-chicken:before{
  content:""
}
.or-icon-food:before{
  content:""
}
.or-icon-dish-1:before{
  content:""
}
.or-icon-dish:before{
  content:""
}
.or-icon-moon-night:before{
  content:""
}
.or-icon-moon:before{
  content:""
}
.or-icon-cloudy-and-sunny:before{
  content:""
}
.or-icon-partly-cloudy:before{
  content:""
}
.or-icon-cloudy:before{
  content:""
}
.or-icon-sunny:before{
  content:""
}
.or-icon-sunset:before{
  content:""
}
.or-icon-sunrise-1:before{
  content:""
}
.or-icon-sunrise:before{
  content:""
}
.or-icon-heavy-rain:before{
  content:""
}
.or-icon-lightning:before{
  content:""
}
.or-icon-light-rain:before{
  content:""
}
.or-icon-wind-power:before{
  content:""
}
.or-icon-baseball:before{
  content:""
}
.or-icon-soccer:before{
  content:""
}
.or-icon-football:before{
  content:""
}
.or-icon-basketball:before{
  content:""
}
.or-icon-ship:before{
  content:""
}
.or-icon-truck:before{
  content:""
}
.or-icon-bicycle:before{
  content:""
}
.or-icon-mobile-phone:before{
  content:""
}
.or-icon-service:before{
  content:""
}
.or-icon-key:before{
  content:""
}
.or-icon-unlock:before{
  content:""
}
.or-icon-lock:before{
  content:""
}
.or-icon-watch:before{
  content:""
}
.or-icon-watch-1:before{
  content:""
}
.or-icon-timer:before{
  content:""
}
.or-icon-alarm-clock:before{
  content:""
}
.or-icon-map-location:before{
  content:""
}
.or-icon-dorete-location:before{
  content:""
}
.or-icon-add-location:before{
  content:""
}
.or-icon-location-information:before{
  content:""
}
.or-icon-location-outline:before{
  content:""
}
.or-icon-location:before{
  content:""
}
.or-icon-place:before{
  content:""
}
.or-icon-discover:before{
  content:""
}
.or-icon-first-aid-kit:before{
  content:""
}
.or-icon-trophy-1:before{
  content:""
}
.or-icon-trophy:before{
  content:""
}
.or-icon-medal:before{
  content:""
}
.or-icon-medal-1:before{
  content:""
}
.or-icon-stopwatch:before{
  content:""
}
.or-icon-mic:before{
  content:""
}
.or-icon-copy-document:before{
  content:""
}
.or-icon-full-screen:before{
  content:""
}
.or-icon-switch-button:before{
  content:""
}
.or-icon-aim:before{
  content:""
}
.or-icon-crop:before{
  content:""
}
.or-icon-odometer:before{
  content:""
}
.or-icon-time:before{
  content:""
}
.or-icon-bangzhu:before{
  content:""
}
.or-icon-close-notification:before{
  content:""
}
.or-icon-microphone:before{
  content:""
}
.or-icon-turn-off-microphone:before{
  content:""
}
.or-icon-position:before{
  content:""
}
.or-icon-postcard:before{
  content:""
}
.or-icon-message:before{
  content:""
}
.or-icon-chat-line-square:before{
  content:""
}
.or-icon-chat-dot-square:before{
  content:""
}
.or-icon-chat-dot-round:before{
  content:""
}
.or-icon-chat-square:before{
  content:""
}
.or-icon-chat-line-round:before{
  content:""
}
.or-icon-chat-round:before{
  content:""
}
.or-icon-set-up:before{
  content:""
}
.or-icon-turn-off:before{
  content:""
}
.or-icon-open:before{
  content:""
}
.or-icon-connection:before{
  content:""
}
.or-icon-link:before{
  content:""
}
.or-icon-cpu:before{
  content:""
}
.or-icon-thumb:before{
  content:""
}
.or-icon-female:before{
  content:""
}
.or-icon-male:before{
  content:""
}
.or-icon-guide:before{
  content:""
}
.or-icon-news:before{
  content:""
}
.or-icon-price-tag:before{
  content:""
}
.or-icon-discount:before{
  content:""
}
.or-icon-wallet:before{
  content:""
}
.or-icon-coin:before{
  content:""
}
.or-icon-money:before{
  content:""
}
.or-icon-bank-card:before{
  content:""
}
.or-icon-box:before{
  content:""
}
.or-icon-present:before{
  content:""
}
.or-icon-sorl:before{
  content:""
}
.or-icon-sold-out:before{
  content:""
}
.or-icon-shopping-bag-2:before{
  content:""
}
.or-icon-shopping-bag-1:before{
  content:""
}
.or-icon-shopping-cart-2:before{
  content:""
}
.or-icon-shopping-cart-1:before{
  content:""
}
.or-icon-shopping-cart-full:before{
  content:""
}
.or-icon-smoking:before{
  content:""
}
.or-icon-no-smoking:before{
  content:""
}
.or-icon-house:before{
  content:""
}
.or-icon-table-lamp:before{
  content:""
}
.or-icon-school:before{
  content:""
}
.or-icon-office-building:before{
  content:""
}
.or-icon-toilet-paper:before{
  content:""
}
.or-icon-notebook-2:before{
  content:""
}
.or-icon-notebook-1:before{
  content:""
}
.or-icon-files:before{
  content:""
}
.or-icon-collection:before{
  content:""
}
.or-icon-receiving:before{
  content:""
}
.or-icon-suitcase-1:before{
  content:""
}
.or-icon-suitcase:before{
  content:""
}
.or-icon-film:before{
  content:""
}
.or-icon-collection-tag:before{
  content:""
}
.or-icon-data-analysis:before{
  content:""
}
.or-icon-pie-chart:before{
  content:""
}
.or-icon-data-board:before{
  content:""
}
.or-icon-data-line:before{
  content:""
}
.or-icon-reading:before{
  content:""
}
.or-icon-magic-stick:before{
  content:""
}
.or-icon-coordinate:before{
  content:""
}
.or-icon-mouse:before{
  content:""
}
.or-icon-brush:before{
  content:""
}
.or-icon-headset:before{
  content:""
}
.or-icon-umbrorla:before{
  content:""
}
.or-icon-scissors:before{
  content:""
}
.or-icon-mobile:before{
  content:""
}
.or-icon-attract:before{
  content:""
}
.or-icon-monitor:before{
  content:""
}
.or-icon-search:before{
  content:""
}
.or-icon-takeaway-box:before{
  content:""
}
.or-icon-paperclip:before{
  content:""
}
.or-icon-printer:before{
  content:""
}
.or-icon-document-add:before{
  content:""
}
.or-icon-document:before{
  content:""
}
.or-icon-document-checked:before{
  content:""
}
.or-icon-document-copy:before{
  content:""
}
.or-icon-document-dorete:before{
  content:""
}
.or-icon-document-remove:before{
  content:""
}
.or-icon-tickets:before{
  content:""
}
.or-icon-folder-checked:before{
  content:""
}
.or-icon-folder-dorete:before{
  content:""
}
.or-icon-folder-remove:before{
  content:""
}
.or-icon-folder-add:before{
  content:""
}
.or-icon-folder-opened:before{
  content:""
}
.or-icon-folder:before{
  content:""
}
.or-icon-edit-outline:before{
  content:""
}
.or-icon-edit:before{
  content:""
}
.or-icon-date:before{
  content:""
}
.or-icon-c-scale-to-original:before{
  content:""
}
.or-icon-view:before{
  content:""
}
.or-icon-loading:before{
  content:""
}
.or-icon-rank:before{
  content:""
}
.or-icon-sort-down:before{
  content:""
}
.or-icon-sort-up:before{
  content:""
}
.or-icon-sort:before{
  content:""
}
.or-icon-finished:before{
  content:""
}
.or-icon-refresh-left:before{
  content:""
}
.or-icon-refresh-right:before{
  content:""
}
.or-icon-refresh:before{
  content:""
}
.or-icon-video-play:before{
  content:""
}
.or-icon-video-pause:before{
  content:""
}
.or-icon-d-arrow-right:before{
  content:""
}
.or-icon-d-arrow-left:before{
  content:""
}
.or-icon-arrow-up:before{
  content:""
}
.or-icon-arrow-down:before{
  content:""
}
.or-icon-arrow-right:before{
  content:""
}
.or-icon-arrow-left:before{
  content:""
}
.or-icon-top-right:before{
  content:""
}
.or-icon-top-left:before{
  content:""
}
.or-icon-top:before{
  content:""
}
.or-icon-bottom:before{
  content:""
}
.or-icon-right:before{
  content:""
}
.or-icon-back:before{
  content:""
}
.or-icon-bottom-right:before{
  content:""
}
.or-icon-bottom-left:before{
  content:""
}
.or-icon-caret-top:before{
  content:""
}
.or-icon-caret-bottom:before{
  content:""
}
.or-icon-caret-right:before{
  content:""
}
.or-icon-caret-left:before{
  content:""
}
.or-icon-d-caret:before{
  content:""
}
.or-icon-share:before{
  content:""
}
.or-icon-menu:before{
  content:""
}
.or-icon-s-grid:before{
  content:""
}
.or-icon-s-check:before{
  content:""
}
.or-icon-s-data:before{
  content:""
}
.or-icon-s-opportunity:before{
  content:""
}
.or-icon-s-custom:before{
  content:""
}
.or-icon-s-claim:before{
  content:""
}
.or-icon-s-finance:before{
  content:""
}
.or-icon-s-comment:before{
  content:""
}
.or-icon-s-flag:before{
  content:""
}
.or-icon-s-marketing:before{
  content:""
}
.or-icon-s-shop:before{
  content:""
}
.or-icon-s-open:before{
  content:""
}
.or-icon-s-management:before{
  content:""
}
.or-icon-s-ticket:before{
  content:""
}
.or-icon-s-rorease:before{
  content:""
}
.or-icon-s-home:before{
  content:""
}
.or-icon-s-promotion:before{
  content:""
}
.or-icon-s-operation:before{
  content:""
}
.or-icon-s-unfold:before{
  content:""
}
.or-icon-s-fold:before{
  content:""
}
.or-icon-s-platform:before{
  content:""
}
.or-icon-s-order:before{
  content:""
}
.or-icon-s-cooperation:before{
  content:""
}
.or-icon-borl:before{
  content:""
}
.or-icon-message-solid:before{
  content:""
}
.or-icon-video-camera:before{
  content:""
}
.or-icon-video-camera-solid:before{
  content:""
}
.or-icon-camera:before{
  content:""
}
.or-icon-camera-solid:before{
  content:""
}
.or-icon-download:before{
  content:""
}
.or-icon-upload2:before{
  content:""
}
.or-icon-upload:before{
  content:""
}
.or-icon-picture-outline-round:before{
  content:""
}
.or-icon-picture-outline:before{
  content:""
}
.or-icon-picture:before{
  content:""
}
.or-icon-close:before{
  content:""
}
.or-icon-check:before{
  content:""
}
.or-icon-plus:before{
  content:""
}
.or-icon-minus:before{
  content:""
}
.or-icon-horp:before{
  content:""
}
.or-icon-s-horp:before{
  content:""
}
.or-icon-circle-close:before{
  content:""
}
.or-icon-circle-check:before{
  content:""
}
.or-icon-circle-plus-outline:before{
  content:""
}
.or-icon-remove-outline:before{
  content:""
}
.or-icon-zoom-out:before{
  content:""
}
.or-icon-zoom-in:before{
  content:""
}
.or-icon-error:before{
  content:""
}
.or-icon-success:before{
  content:""
}
.or-icon-circle-plus:before{
  content:""
}
.or-icon-remove:before{
  content:""
}
.or-icon-info:before{
  content:""
}
.or-icon-question:before{
  content:""
}
.or-icon-warning-outline:before{
  content:""
}
.or-icon-warning:before{
  content:""
}
.or-icon-goods:before{
  content:""
}
.or-icon-s-goods:before{
  content:""
}
.or-icon-star-off:before{
  content:""
}
.or-icon-star-on:before{
  content:""
}
.or-icon-more-outline:before{
  content:""
}
.or-icon-more:before{
  content:""
}
.or-icon-phone-outline:before{
  content:""
}
.or-icon-phone:before{
  content:""
}
.or-icon-user:before{
  content:""
}
.or-icon-user-solid:before{
  content:""
}
.or-icon-setting:before{
  content:""
}
.or-icon-s-tools:before{
  content:""
}
.or-icon-dorete:before{
  content:""
}
.or-icon-dorete-solid:before{
  content:""
}
.or-icon-oreme:before{
  content:""
}
.or-icon-platform-oreme:before{
  content:""
}
.or-icon-loading{
  animation:rotating 2s linear infinite
}
.or-icon--right{
  margin-left:5px
}
.or-icon--left{
  margin-right:5px
}
